@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}
button {
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;

}
button:hover {
    opacity: 0.8;
    transition: 0.2s ease-in-out;

}

/* navigation */
nav {
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    position: sticky;
    top: 0;
    margin-bottom: 32px;
    background: white;
    padding: 10px;
    z-index: 50;
}
.navigation {
display: flex;
justify-content: space-between;
align-items: center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.bar_icon {
    font-size: 25px;
}
/* hero section */
.hero {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}
.hero_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tag {
    background-color: #149f39;
    padding: 5px 10px;
    color: white;
    align-self: flex-start;

}
.tag:hover {
    opacity: 0.8;
    transition: 0.2s ease-in-out;

}
h1 {
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
}
.explore_btn {
    background-color: #ffc066;
    align-self: flex-start;
}
/* features */
.features {
    margin-top: 100px;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;

}
.feature {
    display: flex;
    gap: 20px;
    padding: 20px;
    transition:  0.2s ease-in-out;
}
.feature:hover{
    box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.05);
    transition:  0.2s ease-in-out;
    background-color: #ccccccb6;

}
.divider {
    border: 1px solid #ccc;
    margin: 20px 0;
}

/* menu */ 

.menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
}
.menu .tag {
    align-self: center;
    font-size: 25px;
    
}
.grid-image {
    border-radius: 10px;
    transition:  0.2s ease-in-out;
}
.grid-image:hover{
    transform: scale(1.05);
    transition:  0.2s ease-in-out;
}
.grid {
    display: grid;
    gap: 10px;
    grid-template-areas:
     "I1 I1 I2 I3"
     "I1 I1 I2 I7"
     "I4 I5 I6 I7";
}


.item1 {
    grid-area: I1;
}
.item2 {
    grid-area: I2;
}
.item3 {
    grid-area: I3;
}
.item4 {
    grid-area: I4;
}
.item5 {
    grid-area: I5;
}
.item6 {
    grid-area: I6;
}
.item7 {
    grid-area: I7;
}
/* footer */
footer {
    background-color: #fff0db;
}
.footer_container {
    padding: 30px;
    display: flex;
    gap: 150px;
}
.link-lists ul{
    list-style: none;
    column-gap: 20px;
}
.link-lists ul li{
   font-size: 16px;
   margin-bottom: 5px;
}
.link-lists:hover{
    text-decoration-thickness: 20px;

}
.newsletter input{
margin-bottom: 10px;
padding: 5px 40px;

}
.icon-container {
    display: flex;
    font-size: 32px;
    gap: 15px;
}






#contact h2 {
    font-size: 6rem;
    text-align: center;
    margin: 2rem 0;
}
#contact .container {
height: 90vh;
display: flex;
flex-direction: column;
gap: 4rem;
justify-content: center;
}
.top-contact {
    max-width: 800px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat();
}
.bottom-contact {
    display: grid;
    gap: 30rem;
    font-size: 20px;
    justify-content: center;

}
#container h1 {
   font-size: 40px;
}
.contact-way {
    display: flex;
    gap: 1rem;
}



